html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #F6F6F6;
}

h1 {
    margin: 15px 0 20px 10px;
    font-size: 20px;
    font-weight: bold;
}

p {
    margin: 15px 0 20px 10px; 
}

ul{
    list-style-type: none;
    margin: 10px 0 20px 35px;
}

ul img {
    max-width: 13px;
    max-height: 13px;
    margin-right: 10px;
}

table,
tr,
th,
td {
    border: 2px solid black;
}

table {
    margin: 0 0 20px 10px;
    /*background-color: D9E3EC#;*/
}

th,
td {
    padding: 10px;
}

tr:first-child {
    
}

tr:first-child {
    color: #fff;
    background-color: #7FA5CC;
    font-weight: bold;
}

tr:first-child th:first-child {
    border-radius: 15px;
}

tr:first-child th:last-child {
    border-radius: 15px;
}

tr:nth-child(even) {
    background-color: #D9E3EC;
}

fieldset {
    width: 500px;
    margin-left: 10px;
    border: 1px solid black;
}

legend {
    margin-left: 20px;
    margin-bottom: 20px;
}

fieldset > div {
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
}

fieldset > div input {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 55%;
}

fieldset > div select {
    width: 37%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 55%;
}

.radioselector > div {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 55%;
}

.radioselector > div span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 55%;
}

.radioselector .paskutinis input {
    margin-left: 70%;
}

.radioselector > div:last-child span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 74%;
}

.btn {
    padding: 5px;
    border-radius: 40%;
    margin-top: 7px;
    margin-left: 450px;
    background-color:#238650;
    color: #fff;
}
